# Import Libraries to read the data and manipulate

In [17]:
import pandas as pd
import numpy as np

# User enabled list with names and marks. 1st - no. of entries 2nd- names along marks

In [31]:
counter=int(input())
j=0
list_names=[]
for j in range(counter):
    names_marks=input("Please enter the names along with marks and a whitspace in between: ").split()
    list_names.append(names_marks)
    j=j+1
print(counter)
A=print(list_names)

2
Please enter the names along with marks and a whitspace in between: wan 90
Please enter the names along with marks and a whitspace in between: san 91
2
[['wan', '90'], ['san', '91']]

# convert marks from string to integer

In [32]:

# Convert marks from string to integer
for item in list_names:
    item[1] = int(item[1])  # Convert the second element (marks) to an integer

# Output the modified list to confirm the conversion
print(list_names)

[['wan', 90], ['san', 91]]

# Make a list with the marks only to compare the lowest and highest

In [33]:
marks=[]
for item in list_names:
    marks.append(item[1])
print(marks)

[90, 91]

# Find the lowest

In [34]:
lowest=marks[0]
for i in marks:
    if i<lowest:
        lowest=i
print(lowest)

90

# Find the highest

In [35]:
highest=marks[0]
for i in marks:
    if i>highest:
        highest=i
print(highest)

91