# Dictionary automation to get individual columns with values for each rows

In [4]:
import pandas as pd
import numpy as np
df=pd.read_csv('nyc_weather.csv')
df

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333
5,1/6/2016,33,4,35,30.50,10,4.0,0,0,NaN,259
6,1/7/2016,39,11,33,30.28,10,2.0,0,3,NaN,293
7,1/8/2016,39,29,64,30.20,10,4.0,0,8,NaN,79
8,1/9/2016,44,38,77,30.16,9,8.0,T,8,Rain,76
9,1/10/2016,50,46,71,29.59,4,NaN,1.8,7,Rain,109
10,1/11/2016,33,8,37,29.92,10,NaN,0,1,NaN,289
11,1/12/2016,35,15,53,29.85,10,6.0,T,4,NaN,235
12,1/13/2016,26,4,42,29.94,10,10.0,0,0,NaN,284
13,1/14/2016,30,12,47,29.95,10,5.0,T,7,NaN,266
14,1/15/2016,43,31,62,29.82,9,5.0,T,2,NaN,101
15,1/16/2016,47,37,70,29.52,8,7.0,0.24,7,Rain,340
16,1/17/2016,36,23,66,29.78,8,6.0,0.05,6,Fog-Snow,345
17,1/18/2016,25,6,53,29.83,9,12.0,T,2,Snow,293
18,1/19/2016,22,3,42,30.03,10,11.0,0,1,NaN,293
19,1/20/2016,32,15,49,30.13,10,6.0,0,2,NaN,302
20,1/21/2016,31,11,45,30.15,10,6.0,0,1,NaN,312
21,1/22/2016,26,6,41,30.21,9,NaN,0.01,3,Snow,34
22,1/23/2016,26,21,78,29.77,1,16.0,2.31,8,Fog-Snow,42
23,1/24/2016,28,11,53,29.92,8,6.0,T,3,Snow,327
24,1/25/2016,34,18,54,30.25,10,3.0,0,2,NaN,286
25,1/26/2016,43,29,56,30.03,10,7.0,0,2,NaN,244
26,1/27/2016,41,22,45,30.03,10,7.0,T,3,Rain,311
27,1/28/2016,37,20,51,29.90,10,5.0,0,1,NaN,234
28,1/29/2016,36,21,50,29.58,10,8.0,0,4,NaN,298
29,1/30/2016,34,16,46,30.01,10,7.0,0,0,NaN,257
30,1/31/2016,46,28,52,29.90,10,5.0,0,0,NaN,241

In [6]:
df.describe()

       Temperature   DewPoint  ...  CloudCover  WindDirDegrees
count    31.000000  31.000000  ...   31.000000       31.000000
mean     34.677419  17.838710  ...    3.129032      247.129032
std       7.639315  11.378626  ...    2.629853       92.308086
min      20.000000  -3.000000  ...    0.000000       34.000000
25%      29.000000  10.000000  ...    1.000000      238.000000
50%      35.000000  18.000000  ...    3.000000      281.000000
75%      39.500000  23.000000  ...    4.500000      300.000000
max      50.000000  46.000000  ...    8.000000      345.000000

[8 rows x 8 columns]

# What is the max temperature

In [10]:
df['Temperature'].max()

50

# Which days it rained ?

In [31]:
df['EST']=pd.to_datetime(df['EST'])

In [33]:
df['EST'][df['Events']=='Rain']

8    2016-01-09
9    2016-01-10
15   2016-01-16
26   2016-01-27
Name: EST, dtype: datetime64[ns]

# what is average windspeed ?

In [34]:
df['WindSpeedMPH'].mean()

6.892857142857143

# FInd the Nan values in the dataset

In [36]:
df.isna().any()

EST                     False
Temperature             False
DewPoint                False
Humidity                False
Sea Level PressureIn    False
VisibilityMiles         False
WindSpeedMPH             True
PrecipitationIn         False
CloudCover              False
Events                   True
WindDirDegrees          False
dtype: bool

In [38]:
df['WindSpeedMPH']=df['WindSpeedMPH'].fillna(0.0)

In [39]:
df['WindSpeedMPH']

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      0.0
10     0.0
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     0.0
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64

In [40]:
df['WindSpeedMPH'].mean()

6.225806451612903

In [2]:
df.head()

,EST,Temperature,DewPoint,Humidity,Sea Level PressureIn,VisibilityMiles,WindSpeedMPH,PrecipitationIn,CloudCover,Events,WindDirDegrees
0,1/1/2016,38,23,52,30.03,10,8.0,0,5,NaN,281
1,1/2/2016,36,18,46,30.02,10,7.0,0,3,NaN,275
2,1/3/2016,40,21,47,29.86,10,8.0,0,1,NaN,277
3,1/4/2016,25,9,44,30.05,10,9.0,0,3,NaN,345
4,1/5/2016,20,-3,41,30.57,10,5.0,0,0,NaN,333

In [5]:
df.columns

Index(['EST', 'Temperature', 'DewPoint', 'Humidity', 'Sea Level PressureIn',
       'VisibilityMiles', 'WindSpeedMPH', 'PrecipitationIn', 'CloudCover',
       'Events', 'WindDirDegrees'],
      dtype='object')

In [6]:
df.columns[0]

'EST'

In [9]:
for i in range(len(df.columns)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [10]:
for j in df.columns:
    print(j)

EST
Temperature
DewPoint
Humidity
Sea Level PressureIn
VisibilityMiles
WindSpeedMPH
PrecipitationIn
CloudCover
Events
WindDirDegrees

In [6]:
df.loc[0]

EST                     1/1/2016
Temperature                   38
DewPoint                      23
Humidity                      52
Sea Level PressureIn       30.03
VisibilityMiles               10
WindSpeedMPH                 8.0
PrecipitationIn                0
CloudCover                     5
Events                       NaN
WindDirDegrees               281
Name: 0, dtype: object

In [7]:
df.values[0,0]

'1/1/2016'

In [8]:
dic={}
for i in range(len(df.columns)):
    dic[i]=df.columns[i]
print(dic)

{0: 'EST', 1: 'Temperature', 2: 'DewPoint', 3: 'Humidity', 4: 'Sea Level PressureIn', 5: 'VisibilityMiles', 6: 'WindSpeedMPH', 7: 'PrecipitationIn', 8: 'CloudCover', 9: 'Events', 10: 'WindDirDegrees'}

In [9]:
dic2={}
for i in range(len(df.columns)):
    dic2[df.columns[i]]=df.values[i]
print(dic2)

{'EST': array(['1/1/2016', 38, 23, 52, 30.03, 10, 8.0, '0', 5, nan, 281],
      dtype=object), 'Temperature': array(['1/2/2016', 36, 18, 46, 30.02, 10, 7.0, '0', 3, nan, 275],
      dtype=object), 'DewPoint': array(['1/3/2016', 40, 21, 47, 29.86, 10, 8.0, '0', 1, nan, 277],
      dtype=object), 'Humidity': array(['1/4/2016', 25, 9, 44, 30.05, 10, 9.0, '0', 3, nan, 345],
      dtype=object), 'Sea Level PressureIn': array(['1/5/2016', 20, -3, 41, 30.57, 10, 5.0, '0', 0, nan, 333],
      dtype=object), 'VisibilityMiles': array(['1/6/2016', 33, 4, 35, 30.5, 10, 4.0, '0', 0, nan, 259],
      dtype=object), 'WindSpeedMPH': array(['1/7/2016', 39, 11, 33, 30.28, 10, 2.0, '0', 3, nan, 293],
      dtype=object), 'PrecipitationIn': array(['1/8/2016', 39, 29, 64, 30.2, 10, 4.0, '0', 8, nan, 79],
      dtype=object), 'CloudCover': array(['1/9/2016', 44, 38, 77, 30.16, 9, 8.0, 'T', 8, 'Rain', 76],
      dtype=object), 'Events': array(['1/10/2016', 50, 46, 71, 29.59, 4, nan, '1.8', 7, 'Rain', 109],
      dtype=object), 'WindDirDegrees': array(['1/11/2016', 33, 8, 37, 29.92, 10, nan, '0', 1, nan, 289],
      dtype=object)}

In [57]:
df.values[0,0]

'1/1/2016'

In [55]:
df.columns[0]

'EST'

# Create a list with individual columns and its values as dictionaries.
So if 11 columns and 31 rows are there.
Then 31 iterations needed to show all the 11 columns with values. i.e. 0 to 30

In [78]:
data = []
# dic = {} not defined here as it will only take the last row values not iterate all the values
for r in range(len(df.values)):
    dic={} # dict defined here to iterate all the rows
    for c in range(len(df.columns)):
#         dic={} not defined here as it will only take the last column value not iterate all the columns
        dic[df.columns[c]] = df.values[r,c]  # to show individual cell values for a multi-dimensional array  
    data.append(dic)# append is done here to iterate all the rows here
#data.append(dic) append is not done here as only last row it would have shown
data

[{'EST': '1/1/2016',
  'Temperature': 38,
  'DewPoint': 23,
  'Humidity': 52,
  'Sea Level PressureIn': 30.03,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 8.0,
  'PrecipitationIn': '0',
  'CloudCover': 5,
  'Events': nan,
  'WindDirDegrees': 281},
 {'EST': '1/2/2016',
  'Temperature': 36,
  'DewPoint': 18,
  'Humidity': 46,
  'Sea Level PressureIn': 30.02,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 7.0,
  'PrecipitationIn': '0',
  'CloudCover': 3,
  'Events': nan,
  'WindDirDegrees': 275},
 {'EST': '1/3/2016',
  'Temperature': 40,
  'DewPoint': 21,
  'Humidity': 47,
  'Sea Level PressureIn': 29.86,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 8.0,
  'PrecipitationIn': '0',
  'CloudCover': 1,
  'Events': nan,
  'WindDirDegrees': 277},
 {'EST': '1/4/2016',
  'Temperature': 25,
  'DewPoint': 9,
  'Humidity': 44,
  'Sea Level PressureIn': 30.05,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 9.0,
  'PrecipitationIn': '0',
  'CloudCover': 3,
  'Events': nan,
  'WindDirDegrees': 345},
 {'EST': '1/5/2016',
  'Temperature': 20,
  'DewPoint': -3,
  'Humidity': 41,
  'Sea Level PressureIn': 30.57,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 5.0,
  'PrecipitationIn': '0',
  'CloudCover': 0,
  'Events': nan,
  'WindDirDegrees': 333},
 {'EST': '1/6/2016',
  'Temperature': 33,
  'DewPoint': 4,
  'Humidity': 35,
  'Sea Level PressureIn': 30.5,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 4.0,
  'PrecipitationIn': '0',
  'CloudCover': 0,
  'Events': nan,
  'WindDirDegrees': 259},
 {'EST': '1/7/2016',
  'Temperature': 39,
  'DewPoint': 11,
  'Humidity': 33,
  'Sea Level PressureIn': 30.28,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 2.0,
  'PrecipitationIn': '0',
  'CloudCover': 3,
  'Events': nan,
  'WindDirDegrees': 293},
 {'EST': '1/8/2016',
  'Temperature': 39,
  'DewPoint': 29,
  'Humidity': 64,
  'Sea Level PressureIn': 30.2,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 4.0,
  'PrecipitationIn': '0',
  'CloudCover': 8,
  'Events': nan,
  'WindDirDegrees': 79},
 {'EST': '1/9/2016',
  'Temperature': 44,
  'DewPoint': 38,
  'Humidity': 77,
  'Sea Level PressureIn': 30.16,
  'VisibilityMiles': 9,
  'WindSpeedMPH': 8.0,
  'PrecipitationIn': 'T',
  'CloudCover': 8,
  'Events': 'Rain',
  'WindDirDegrees': 76},
 {'EST': '1/10/2016',
  'Temperature': 50,
  'DewPoint': 46,
  'Humidity': 71,
  'Sea Level PressureIn': 29.59,
  'VisibilityMiles': 4,
  'WindSpeedMPH': nan,
  'PrecipitationIn': '1.8',
  'CloudCover': 7,
  'Events': 'Rain',
  'WindDirDegrees': 109},
 {'EST': '1/11/2016',
  'Temperature': 33,
  'DewPoint': 8,
  'Humidity': 37,
  'Sea Level PressureIn': 29.92,
  'VisibilityMiles': 10,
  'WindSpeedMPH': nan,
  'PrecipitationIn': '0',
  'CloudCover': 1,
  'Events': nan,
  'WindDirDegrees': 289},
 {'EST': '1/12/2016',
  'Temperature': 35,
  'DewPoint': 15,
  'Humidity': 53,
  'Sea Level PressureIn': 29.85,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 6.0,
  'PrecipitationIn': 'T',
  'CloudCover': 4,
  'Events': nan,
  'WindDirDegrees': 235},
 {'EST': '1/13/2016',
  'Temperature': 26,
  'DewPoint': 4,
  'Humidity': 42,
  'Sea Level PressureIn': 29.94,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 10.0,
  'PrecipitationIn': '0',
  'CloudCover': 0,
  'Events': nan,
  'WindDirDegrees': 284},
 {'EST': '1/14/2016',
  'Temperature': 30,
  'DewPoint': 12,
  'Humidity': 47,
  'Sea Level PressureIn': 29.95,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 5.0,
  'PrecipitationIn': 'T',
  'CloudCover': 7,
  'Events': nan,
  'WindDirDegrees': 266},
 {'EST': '1/15/2016',
  'Temperature': 43,
  'DewPoint': 31,
  'Humidity': 62,
  'Sea Level PressureIn': 29.82,
  'VisibilityMiles': 9,
  'WindSpeedMPH': 5.0,
  'PrecipitationIn': 'T',
  'CloudCover': 2,
  'Events': nan,
  'WindDirDegrees': 101},
 {'EST': '1/16/2016',
  'Temperature': 47,
  'DewPoint': 37,
  'Humidity': 70,
  'Sea Level PressureIn': 29.52,
  'VisibilityMiles': 8,
  'WindSpeedMPH': 7.0,
  'PrecipitationIn': '0.24',
  'CloudCover': 7,
  'Events': 'Rain',
  'WindDirDegrees': 340},
 {'EST': '1/17/2016',
  'Temperature': 36,
  'DewPoint': 23,
  'Humidity': 66,
  'Sea Level PressureIn': 29.78,
  'VisibilityMiles': 8,
  'WindSpeedMPH': 6.0,
  'PrecipitationIn': '0.05',
  'CloudCover': 6,
  'Events': 'Fog-Snow',
  'WindDirDegrees': 345},
 {'EST': '1/18/2016',
  'Temperature': 25,
  'DewPoint': 6,
  'Humidity': 53,
  'Sea Level PressureIn': 29.83,
  'VisibilityMiles': 9,
  'WindSpeedMPH': 12.0,
  'PrecipitationIn': 'T',
  'CloudCover': 2,
  'Events': 'Snow',
  'WindDirDegrees': 293},
 {'EST': '1/19/2016',
  'Temperature': 22,
  'DewPoint': 3,
  'Humidity': 42,
  'Sea Level PressureIn': 30.03,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 11.0,
  'PrecipitationIn': '0',
  'CloudCover': 1,
  'Events': nan,
  'WindDirDegrees': 293},
 {'EST': '1/20/2016',
  'Temperature': 32,
  'DewPoint': 15,
  'Humidity': 49,
  'Sea Level PressureIn': 30.13,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 6.0,
  'PrecipitationIn': '0',
  'CloudCover': 2,
  'Events': nan,
  'WindDirDegrees': 302},
 {'EST': '1/21/2016',
  'Temperature': 31,
  'DewPoint': 11,
  'Humidity': 45,
  'Sea Level PressureIn': 30.15,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 6.0,
  'PrecipitationIn': '0',
  'CloudCover': 1,
  'Events': nan,
  'WindDirDegrees': 312},
 {'EST': '1/22/2016',
  'Temperature': 26,
  'DewPoint': 6,
  'Humidity': 41,
  'Sea Level PressureIn': 30.21,
  'VisibilityMiles': 9,
  'WindSpeedMPH': nan,
  'PrecipitationIn': '0.01',
  'CloudCover': 3,
  'Events': 'Snow',
  'WindDirDegrees': 34},
 {'EST': '1/23/2016',
  'Temperature': 26,
  'DewPoint': 21,
  'Humidity': 78,
  'Sea Level PressureIn': 29.77,
  'VisibilityMiles': 1,
  'WindSpeedMPH': 16.0,
  'PrecipitationIn': '2.31',
  'CloudCover': 8,
  'Events': 'Fog-Snow',
  'WindDirDegrees': 42},
 {'EST': '1/24/2016',
  'Temperature': 28,
  'DewPoint': 11,
  'Humidity': 53,
  'Sea Level PressureIn': 29.92,
  'VisibilityMiles': 8,
  'WindSpeedMPH': 6.0,
  'PrecipitationIn': 'T',
  'CloudCover': 3,
  'Events': 'Snow',
  'WindDirDegrees': 327},
 {'EST': '1/25/2016',
  'Temperature': 34,
  'DewPoint': 18,
  'Humidity': 54,
  'Sea Level PressureIn': 30.25,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 3.0,
  'PrecipitationIn': '0',
  'CloudCover': 2,
  'Events': nan,
  'WindDirDegrees': 286},
 {'EST': '1/26/2016',
  'Temperature': 43,
  'DewPoint': 29,
  'Humidity': 56,
  'Sea Level PressureIn': 30.03,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 7.0,
  'PrecipitationIn': '0',
  'CloudCover': 2,
  'Events': nan,
  'WindDirDegrees': 244},
 {'EST': '1/27/2016',
  'Temperature': 41,
  'DewPoint': 22,
  'Humidity': 45,
  'Sea Level PressureIn': 30.03,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 7.0,
  'PrecipitationIn': 'T',
  'CloudCover': 3,
  'Events': 'Rain',
  'WindDirDegrees': 311},
 {'EST': '1/28/2016',
  'Temperature': 37,
  'DewPoint': 20,
  'Humidity': 51,
  'Sea Level PressureIn': 29.9,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 5.0,
  'PrecipitationIn': '0',
  'CloudCover': 1,
  'Events': nan,
  'WindDirDegrees': 234},
 {'EST': '1/29/2016',
  'Temperature': 36,
  'DewPoint': 21,
  'Humidity': 50,
  'Sea Level PressureIn': 29.58,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 8.0,
  'PrecipitationIn': '0',
  'CloudCover': 4,
  'Events': nan,
  'WindDirDegrees': 298},
 {'EST': '1/30/2016',
  'Temperature': 34,
  'DewPoint': 16,
  'Humidity': 46,
  'Sea Level PressureIn': 30.01,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 7.0,
  'PrecipitationIn': '0',
  'CloudCover': 0,
  'Events': nan,
  'WindDirDegrees': 257},
 {'EST': '1/31/2016',
  'Temperature': 46,
  'DewPoint': 28,
  'Humidity': 52,
  'Sea Level PressureIn': 29.9,
  'VisibilityMiles': 10,
  'WindSpeedMPH': 5.0,
  'PrecipitationIn': '0',
  'CloudCover': 0,
  'Events': nan,
  'WindDirDegrees': 241}]